<head>
  <title>testproject</title>
</head>

<body>
  <h1>Welcome to Meteor!</h1>

  {{> hello}}
  {{> info}}
</body>

<template name="hello">
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>

  <article>
      <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

      <h2>Header Level 2</h2>

      <ol>
         <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
         <li>Aliquam tincidunt mauris eu risus.</li>
      </ol>

      <blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p></blockquote>

      <p id='absolute'>Here's an interesting one. This is absolutely positioned content. If we can't get the adder positioning right on this one then we're screwed.</p>

      <p id='fixed'>And the same but with <code>position: fixed;</code> Make the window smaller and scroll to make sure that adder/viewer/editor positioning is still correct.</p>

      <h3>Header Level 3</h3>

      <ul>
         <li id="listone">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
         <li id="listtwo">Aliquam tincidunt mauris eu risus.</li>
      </ul>

      <pre><code>
      #header h1 a {
        display: block;
        width: 300px;
        height: 80px;
      }
      </code></pre>

      <table>
        <thead>
          <tr>
            <td>Heading One</td>
            <td>Heading Two</td>
            <td>Heading Three</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Side One</th>
            <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</td>
            <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</td>
          </tr>
          <tr>
            <th>Side Two</th>
            <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</td>
            <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</td>
          </tr>
          <tr>
            <th>Side Three</th>
            <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</td>
            <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</td>
          </tr>
          <tr>
            <th>Side Four</th>
            <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</td>
            <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</td>
          </tr>
        </tbody>
      </table>
    </article>
    
</template>

<template name="info">
  <h2>Learn Meteor!</h2>
  <ul>
    <li><a href="https://www.meteor.com/try" target="_blank">Do the Tutorial</a></li>
    <li><a href="http://guide.meteor.com" target="_blank">Follow the Guide</a></li>
    <li><a href="https://docs.meteor.com" target="_blank">Read the Docs</a></li>
    <li><a href="https://forums.meteor.com" target="_blank">Discussions</a></li>
  </ul>
</template>
